<!DOCTYPE html>
<html ng-app="">
  <head>
    <meta charset="utf-8">
    <title>HAUL</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/bootstrap-theme.min.css">

    <!-- VENDOR SCRIPTS -->
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../public/scripts/app.js"></script>
    <!-- <script src="../scripts/controllers/AlbumsIndexController.js"></script>
    <script src="../scripts/controllers/AlbumsShowController.js"></script> -->

  </head>
  <body>

    <!-- REPLACE WITH ANGULAR HEADER TEMPLATE -->
    <h1>HAUL</h1>

  </body>
</html>
