<!DOCTYPE html>
<html lang="en" ng-app="haul">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HAUL</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link href="../scripts/vendor-scripts/angular-jk-rating-stars/dist/jk-rating-stars.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">

    <!-- VENDOR SCRIPTS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm-0-noMBH2llBIjNThF7HkDWWK8jqx60"></script>
    <!-- ANGULAR -->
    <script src="../scripts/vendor-scripts/angular/angular.min.js"></script>
    <script src="../scripts/vendor-scripts/angular-route/angular-route.min.js"></script>
    <script src="../scripts/vendor-scripts/angular-jk-rating-stars/dist/jk-rating-stars.js"></script>
    <script type="text/javascript" src="../scripts/vendor-scripts/angular-ui-utils/ui-utils.min.js"></script>
    <script type="text/javascript" src="../scripts/vendor-scripts/angular-ui-utils/ui-utils-ieshiv.min.js"></script>
    <script type="text/javascript" src="../scripts/vendor-scripts/angular-ui-map/ui-map.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../scripts/app.js"></script>
    <script src="../scripts/map.js"></script>

    <!-- CONTROLLER SCRIPTS -->
    <script src="../scripts/controllers/DriversIndexController.js"></script>
    <script src="../scripts/controllers/DriversShowController.js"></script>

</head>

<body>

  <!-- USER ALERT CONTAINER -->
  <div id="userAlert" class="hide"></div>

  <!-- FUTURE: REPLACE WITH HANDLEBARS HEADER TEMPLATE? -->
  <div class="header-container">

    <h1>HAUL</h1>
    <h5 class="sub-heading">On-demand Community Movers</h5>

  </div>

  <p class="about">
    Need to move your stuff and can't fit it on a bus? Click on a marker to find an awesome dirver with a vehicle in town that can help.
  </p>

  <div ng-view></div>

</body>

</html>
