<div>
  <!-- REPLACE WITH HANDLEBARS HEADER TEMPLATE -->
  <div class="header-container">

    <h1>HAUL</h1>
    <h4>Find a driver!</h4>

  </div>


  <div>

    <div class="card" ng-repeat="driver in driversIndexCtrl.drivers">
      <h3>{{driver.name}}</h3>

      <jk-rating-stars rating="driver.rating" read-only="driver.readOnly">
      </jk-rating-stars>
      <img src={{driver.img}}>

      <ul>
        <li>{{driver.location}}</li>
        <li>{{driver.rate}}</li>
      </ul>

      <ul>
        <li><button class="btn btn-sm btn-success" ng-repeat="vehicles in driver.vehicles">{{vehicles}}</button></li>
      </ul>

    </div>

  </div>
</div>
